/* navbar */
.navbar-default {
	background-image: linear-gradient(to bottom, #00f 0px, #00f 100%);
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.all-capital{
text-transform: uppercase;
}
#map { width:100%; height:400px; }